.backGroundMessage {
    background-color: rgba(0, 0, 0, 0.12);
    opacity: 0%;
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 100%;
}

.alertMessage {
    cursor: pointer;
    width: 400px;
    background-color: white;
    margin: auto;
    top: 100px;
    border-radius: 8px;
}

.alertMessage > p:first-of-type {
    color: white;
    width: 100%;
    padding: 25px 0;
    text-align: center;
}

.alertMessage > p:last-of-type {
    padding: 10px 30px 30px 30px;
    text-align: center;
    font-size: 20px;
}