#tableDemands tr th:nth-child(2),
#tableDemands tr td:nth-child(2) {
    width: 20%;
}

#tableDemands tr th:nth-child(3),
#tableDemands tr td:nth-child(3) {
    width: 10%;
    text-align: center;
}

#tableDemands tr th:nth-child(4),
#tableDemands tr td:nth-child(4) {
    width: 10%;
    text-align: center;
}

#tableDemands tr th:nth-child(5),
#tableDemands tr td:nth-child(5) {
    width: 10%;
    text-align: center;
}

#tableDemands tr th:nth-child(6),
#tableDemands tr td:nth-child(6) {
    width: 10%;
    text-align: center;
}

#tableDemands tr th:nth-child(7),
#tableDemands tr td:nth-child(7) {
    width: 15%;
    text-align: center;
}