#tableDemands tr td:nth-child(1) {
    cursor: pointer;
}

#tableDemands tr th:nth-child(2),
#tableDemands tr td:nth-child(2) {
    width: 20%;
}

#tableDemands tr th:nth-child(3),
#tableDemands tr td:nth-child(3) {
    width: 10%;
    text-align: center;
}

#tableDemands tr th:nth-child(4),
#tableDemands tr td:nth-child(4) {
    width: 10%;
    text-align: center;
}

#tableDemands tr th:nth-child(5),
#tableDemands tr td:nth-child(5) {
    width: 10%;
    text-align: center;
}

#tableDemands tr th:nth-child(6),
#tableDemands tr td:nth-child(6) {
    width: 10%;
    text-align: center;
}

#tableDemands tr td:hover:not(#tableDemands tr td:nth-child(6)) {
    background-color: rgba(0, 128, 128, 0.295);
}

#viewUserModal>div {
    min-width: 20%;
}

#viewUserModal>div>div>p,
#confirmationModal>div>div p {
    text-align: center !important;
}

#tableBackDemands {
    max-width: 100%;
    margin-right: 20px;
    margin-left: 20px;
}

#tableBackDemands .table-scroll {
    max-height: 60vh;
}