
.background-box-shadown {
    position: absolute;
    height: 100%;
    width: 100%;

    background: #d3d3d3; /* Old browsers */
    background: -moz-radial-gradient(left, #00000013 90%, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(left, #00000013 90%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(to right, #00000013 90%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2305a', endColorstr='#fca832',GradientType=1 );  

    filter:blur(10px);
}

.formBackGround {
    max-width: min-content;
}

.form {
    text-align: left;
    display: inline-block;
    max-width: min-content;
    background-color: white;
    margin: 10px 10px 20px 20px;
    padding: 30px;
    border-radius: 3px;
}

.form > * {
    font-size: 14px;
    padding: 4px;
}

.form > p {
    margin-bottom: 4px;
    margin-top: 4px;
    color: black;
}

.form > textarea {
    min-width: 300px;
    max-width: 300px;
    min-height: 170px;
    max-height: 170px;
    border: none;
    padding: 12px 9px;
    background-color: rgb(237, 242, 245);
    border-radius: 8px;
}

.form > select {
    width: 318px;
    margin-bottom: 10px;
    border: none;
    padding: 12px 9px;
    background-color: rgb(237, 242, 245);
    border-radius: 8px;
}

.form > input[type='text'],  .form > input[type='number'], .form > input[type='date'], .form > input[type='password']{
    width: 300px;
    border: none;
    padding: 12px 9px;
    background-color: rgb(237, 242, 245);
    border-radius: 8px;
}

.form > input[type='button'] {
    margin-top: 30px;
    padding: 12px;
    width: 100%;
    font-size: 15px;
    cursor: pointer;
    background-color: rgb(88, 184, 69);
    color: white;
    transition: 0.3s;
    border-radius: 5px;
    border: 0;
}

.form > input[type='button']:hover {
    background-color: rgb(128, 184, 117);
}

.gridTime {
    z-index: 10;
    margin: 0;
    position: absolute;
    right: 20px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.gridTime p {
    font-size: 0.6vw;
    margin-bottom: 0;
    margin-top: 0;
    user-select: none;
}

.gridTime > div {
    height: max-content;
}

.gridTime > div > * {
    float: left;
    text-align: center;
    width: 4vw;
    background-color: rgb(255, 255, 255);
    padding: 6px;
    margin: 1px;
}

.gridTime > div > p {
    background-color: rgb(228, 225, 255);
}

.gridTime > div > div:first-of-type{
    background-color: rgb(243, 242, 255);
}

.gridTime > div > div {
    cursor: pointer;
    height: 0.7vw;
}

.gridTime > div > div:not(.gridTime > div > div:first-of-type) {
    transition: 0.2s;
}

.gridTime > div > div:not(.gridTime > div > div:first-of-type):hover {
    background-color: rgb(226, 226, 255);
}

.titleForm {
    text-align: center;
    font-size: 30px;
}

.closeForm {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 10px;
    color: white !important;
    background-color: rgb(255, 168, 168);
    padding: 7px 10px  !important;
    border-radius: 5px;
    transition: 0.2s;
}

.closeForm:hover {
    background-color: red;
}

