
.background-box-shadown {
    position: absolute;
    height: 100%;
    width: 100%;

    background: #d3d3d3; /* Old browsers */
    background: -moz-radial-gradient(left, #00000013 90%, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(left, #00000013 90%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(to right, #00000013 90%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2305a', endColorstr='#fca832',GradientType=1 );  

    filter:blur(10px);
}

.formBackGround {
    max-width: min-content;
}

.form {
    width: 25%;
    max-width: 350px;
    min-width: 300px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin: 30px 10px 20px 20px;
    padding: 0 30px 10px 30px;
    border-radius: 5px;
}

.form > * {
    text-align: left;
    font-size: 17px;
    padding: 4px;
}

.form > div {
    flex-grow: 2;
}

.form .titleForm {
    top: -4px;
    left: -34px;
    text-align: center;
    margin: 0 0 10px 0;
    font-size: 20px;
    width: 100%;
    padding: 34px;
    background-color: teal;
    color: white;
    border-radius: 5px 5px 0 0;
}

.form > div > p {
    margin: 4px 0;
    color: black;
}

.form > div > textarea {
    min-width: calc(100% - 18px);
    max-width: calc(100% - 18px);
    resize: none;
    min-height: 120px;
    max-height: 120px;
    border: none;
    padding: 12px 9px;
    background-color: rgb(237, 242, 245);
    border-radius: 5px;
}

.form > div > select {
    width: calc(100%);
    margin-bottom: 10px;
    border: none;
    padding: 12px 12px;
    background-color: rgb(237, 242, 245);
    border-radius: 5px;
}

.form > div > input[type='text'],  .form > div > input[type='number'], .form > div > input[type='date'], .form > div > input[type='password']{
    width: calc(100% - 18px);
    border: none;
    padding: 12px 9px;
    margin: 10px 0 20px 0;
    background-color: rgb(237, 242, 245);
    border-radius: 5px;
}

.form > input[type='button'] {
    padding: 12px;
    width: calc(100% - 24px);
    top: -15px;
    margin: 20px auto 0 auto;
    text-align: center;
    cursor: pointer;
    background-color: rgb(88, 184, 69);
    color: white;
    transition: 0.3s;
    border-radius: 5px;
    border: 0;
}

.form > input[type='button']:hover {
    background-color: rgb(128, 184, 117);
}

.closeForm {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    color: white !important;
    background-color: rgb(255, 168, 168);
    padding: 7px 10px  !important;
    border-radius: 5px;
    transition: 0.2s;
}

.closeForm:hover {
    background-color: red;
}

