#navbar {
    width: 100%;
    display: inline-block;
    text-align: right;
    height: 100px;
    background-color: rgba(255, 255, 255, 0);
    position: fixed;
    z-index: 100;
    line-height: 100px;
}

#banner > img {
    width: 100%;
    filter: blur(2px);
    opacity: 80%;
}

#navbar > a:first-of-type {
    color: teal;
    margin: 0 20px;
    padding: 0;
    float: left;
    font-size: 30px;
}

#navbar > a {
    color: teal;
    font-size: 20px;
    text-decoration: none;
    padding: 15px 20px;
    transition: 0.2s;
    border-radius: 5px;
}

#navbar > a:hover {
    color: black;
    background-color: rgba(0, 128, 128, 0.3);
}

#navbar > a:last-of-type {
    margin-right: 20px;
}

#navbar > a:first-of-type:hover {
    color: teal;
    background-color: rgba(255, 255, 255, 0);
}