body {margin:0;}

.navbar {
    overflow: hidden;
    background-color: #ffd465;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 10;
}

/* Links inside the navbar */
.navbar a {
    position: relative;
    float: right;
    display: inline-flex;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-right: 20px;
    font-size: 26px;
    top: 28px;
}

#pProjectName {
    margin-left: 52px;
    float: left;
    color: black;
    font-size: 34px;
    display: inline-flex;
    font-weight: bold;
}

#aSignOut{
    background-color: white;
    border: 1px solid black;
    font-size: 20px;
}
/* Change background on mouse-over */
#aSignOut:hover {
    background-color: #eee;
    color: black;
}

.navConteiner{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding-left: 20px;
    padding-right: 20px;
    top: 107px;
}

.navConteiner div{
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-right: 20px;
    font-size: 19px;
    background-color: #bbb;
    border-top-width: 0;
    width: 15%;
}

.navConteiner div:hover{
    background: #ffd465;
    color: black;
    cursor: pointer;
}