/* ########### MAIN   ########### */
main > div.container {
    background-size: contain;
}

main h2, main h5 {
    color: var(--gray-hex);
}

/* ########### HEADER ########### */
header {
    background-size: cover;
}

/* ########### WELCOME SECTION ########### */
#welcome-section {
    text-align: justify;
    text-align-last: center;
}

.banner_whoweare{
    position: relative;
    font-family: 'Open Sans', sans-serif;
    display: block;
}

.banner_whoweare img{
    width: 100%;
}

.banner_whoweare h1{
    position: relative;
}

/* ########### MORE INFO SECTION ########### */
#more-info-section {
    text-align: justify;
    text-align-last: center;
}

/* general classes */
.img-out {
    position: absolute;
    z-index: 1;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}
/********/
.container_WWA{
    width: 100%;
    max-width: 1024px;
    margin:0 auto;
}

.flex-mosaico{
    display: flex;
}

.item-1-mosaico{
    background-position: center;
    background-size: cover;
    width: 60%;
}

.item-2-mosaico{
    background-color: #4683AB;
    padding:90px 40px;
    width: 40%;
}

.item-2-mosaico p{
    color: white;
}

@media screen and (max-width: 768px){

    .flex-mosaico{
        display: block;
    }

    .item-1-mosaico{
        padding-top:80%;
        width: 100%;
    }

    .item-2-mosaico{
        text-align: justify;
        width: 100%;
    }
}